@font-face {
    font-family: PTSans Narrow;
    src: url(../fonts/web/ptsansnarrow.woff); 
    
    
}
@font-face {
    font-family: PTSans Narrow Bold;
    src: url(../fonts/web/ptsansnarrowbold.woff); 
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

a{
    text-decoration: none;
    color: black;
}
/*end reset*/

body{
    background:black url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position:top;
    font-family: "PTSans Narrow", sans-serif;
    text-transform: uppercase;
}
.container{
    width: 940px;
    height: 100%;
    padding: 0 10px;
    margin: 0 auto;
}
.index-header, .price-header{
    background: black;
}
.nav-block{
    display: inline-block;
    width: 780px;
    padding-top: 20px;
    padding-bottom: 20px;
    
    font-family: "PTSans Narrow Bold", sans-serif;
}
.nav-block ul li{
    text-decoration: none;
    display: inline;
    
    line-height: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.nav-block>ul>li>a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 30px; 
    
    padding: 16px 3px;
    
}
.nav-block ul li a:hover, .user-block:hover{
    background-color: #1F1F1F;
}
.nav-current{
    border-bottom: 4px solid white;
   
}
.user-block{
    display: inline-block;
    float: right;
    max-width: 140px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    background-image: url(../img/login-icon.png);
    background-repeat: no-repeat;
    background-position: center;
    
    font-family: "PTSans Narrow Bold", sans-serif;
    line-height: 20px;
}
.user-block:hover{
    background-image: url(../img/hover-login-icon.png);
    background-repeat: no-repeat;
    background-position: center;
}
.login a{
    text-decoration: none;
    color: white;
    
    padding: 20px 10px;
    padding-left: 80px;
}
.index-logo{
    width: 368px;
    height: 204px;
    margin: 60px auto; 
    margin-bottom: 30px;
}

.features{
    color: white;
    margin-bottom: 80px;
}
.features-item{
    display: inline-block;
    width: 300px;
    vertical-align: top;
    
    margin-right: 10px;
}
.features-item h2{
    font-family: "PTSans Narrow Bold", sans-serif;
    font-size: 30px;
    text-align: center;
}
.features-item h2:after{
    content: "     ";
    
    background-image: url(../img/feature-icon.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.features-item p{
    font-family: "PTSans Narrow Bold", sans-serif;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}
.index-content{
    background:
        url(../img/content-separator.png) no-repeat center,
        #f8f5f2 url(../img/index-content-bg.png);
    margin-top: 35px;
    margin-bottom: 45px;
}
.content-left{
    display: inline-block;
    width: 380px;
    margin-left: 70px;
    vertical-align: top;
}
.content-right{
    display: inline-block;
    width: 300px;
    vertical-align: top;
    margin-left: 120px;
    margin-right: auto;
}
.content-left, .content-right{
    margin-bottom: 50px;
}
.content-title{
    font-family: "PTSans Narrow Bold", sans-serif;
    font-size: 30px;
    margin-bottom: 35px;
    margin-top: 50px;
   
}
.content-descr{
    font-family: "PTSans Narrow Bold", sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 30px;
}
.date{
    font-family: "PTSans Narrow", sans-serif;
}
.btn-min{
    display: inline-block;
    color: white;
    width: 140px;
    height: 40px;
    background-color: black;
    text-align: center;
    line-height: 36px;
    font-family: "PTSans Narrow Bold", sans-serif;
    
}
div.btn-min:hover{
    cursor:pointer;
}
a.btn-min{
    text-decoration: none;
}

.content-gallery{
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 50px;
}
.left-btn{
    margin-right: 15px;
}
.form-text{
    height: 40px;
    width: 126px;
    border: 2px solid black;
    margin-bottom: 20px;
    
    font-family: "PTSans Narrow Bold", sans-serif;
    font-size: 14px;
    line-height: 22px;
    padding-left: 10px;
    
}
.form-left{
    margin-right: 13px;
}
.form-btn{
    height: 40px;
    width: 100%;
    
    font-family: "PTSans Narrow Bold", sans-serif;
    font-size: 14px;
    color: white;
    
    background-color: black;
    border: 0px;
}
.form-btn:hover{
    cursor:pointer;
}

.index-footer{
    background: url(../img/index-footer.jpg);
    
    font-family: "PTSans Narrow Bold", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: white;
    padding-bottom: 40px;
}

.footer-descr{
    display: inline-block;
    width: 380px;
    margin-right: 20px;
       
}
.footer-descr a{
    color: white;
}
.footer-social{
    display: inline-block;
    width: 140px;
}
.vk, .fb, .inst{
    display: inline-block;
    width: 42px;
    height: 42px;
    background-color: black;
    margin-right: 4px;
}
.vk{
    background-image: url(../img/social-vk.png);
    background-position: center;
    background-repeat: no-repeat;
}
.fb{
    background-image: url(../img/social-fb.png);
    background-position: center;
    background-repeat: no-repeat;
}
.inst{
    background-image: url(../img/social-inst.png);
    background-position: center;
    background-repeat: no-repeat;
    margin-right: 0px;
}
.social-title{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 15px;
    
}

.footer-dev{
    display: inline-block;
    width: 140px;
    margin-left: 254px;
    vertical-align: top;
}
.dev-title{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 15px;
}
.dev-academy{
    display: inline-block;
    width: 100%;
    height: 42px;
    background-color: black;
}
.dev-academy{
    color: white;
    text-decoration: none;
    text-align: center;
    line-height: 42px;
}

/*barbershop-price*/


body.price-body{
    background: white;
}
.price-header{
    width: 100%;
}
.price-main{
    background:#F8F4F1  url(../img/index-content-bg.png);
}
.header-logo{
    display: inline-block;
    width: 111px;
    height: 24px;
    background: url(../img/price-logo.png) no-repeat;
    margin-left: 20px;
    margin-top: 15px;
}
.nav-block-price{
    width: 680px;
}
.price-main>.container{
    background: url(../img/index-content-bg.png);
    
    color: black;
    font-family: PTSans Narrow Bold, sans-serif;
    font-size: 14px;
    line-height: 24px;
}
.name-of-page{
    font-size: 30px;
    line-height: 44px;
    padding-top: 50px;
    padding-bottom: 20px;
}
.bread-crumbs{
    padding-bottom: 40px;
}
.bread-crumbs li{
    display: inline-block;
    padding-right: 10px;
}
.before-crumbs::after{
    content: "";
    display: inline-block;
    height: 5px;
    width: 5px;
    background-color: black;
    transform: rotate(45deg);
    margin: 3px 12px;
    margin-right: 0px;

}

.current-crumbs{
    color: #ADAAA8;
}
.page-title{
    font-size: 48px;
    line-height: 68px;
    display: inline-block;
    padding-left: 7px;
    padding-right: 7px;
    padding-bottom: 60px;
}
.page-title:before{
    content: "";
    display: inline-block;
    width: 155px;
    height: 2px;
    background-color: black;
    margin-bottom: 15px;
    margin-right: 25px;
}
.page-title:after{
    content: "";
    display: inline-block;
    width: 155px;
    height: 2px;
    background-color: black;
    margin-bottom: 15px;
    margin-left: 25px;
}

.we-using{
    display: inline-block;
    width: 240px;
    float: left;
}
.service-prices{
    display: inline-block;
    width: 460px;
    vertical-align: top;
    float: right;
}
.clear-fix{
    display:table;
    clear:both;
}
.we-using-title, .service-prices-title{
    font-size: 24px;
    padding-bottom: 30px;
}
.service-prices-title{
    width: 220px;
}
.we-using-item{
   padding-bottom: 5px; 
}
.we-using-item::before{
    content: "";
    display: inline-block;
    height: 8px;
    width: 8px;
    background-color: black;
    transform: rotate(45deg);
    margin: 3px 12px;
    margin-left: 0;
}
.service-prices table{
    border: 2px solid black;
    width: 100%;
}
.service-prices>table tr td{
    border: 2px solid black;
    padding: 10px;
    padding-left: 15px;
}
.td-price{
    text-align: center;
}
.about-us-title{
    font-size: 24px;
    padding-top: 55px;
    padding-bottom: 35px;
}
.about-us-item{
    display: inline-block;
    width: 385px;
    font-family: PTSans Narrow Bold, sans-serif;
    font-size: 14px;
    line-height: 24px;
    padding-bottom: 80px;
}
.about-us-item-left{
    padding-right: 100px;
}
.price-footer{
    background:#1C1C1C url(../img/price-footer.png);
    
    font-family: "PTSans Narrow Bold", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: white;
    padding-bottom: 40px;
}